// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #527b14;
  --ion-color-primary-rgb: 82,123,20;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #486c12;
  --ion-color-primary-tint: #63882c;

  --ion-color-secondary: #62a3c0;
  --ion-color-secondary-rgb: 98,163,192;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #568fa9;
  --ion-color-secondary-tint: #72acc6;

  --ion-color-tertiary: #1a2adb;
  --ion-color-tertiary-rgb: 26,42,219;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #1725c1;
  --ion-color-tertiary-tint: #313fdf;

  --ion-color-success: #a0fd35;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #f4e21a;
  --ion-color-warning-rgb: 244,226,26;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d7c717;
  --ion-color-warning-tint: #f5e531;

  --ion-color-danger: #e61919;
  --ion-color-danger-rgb: 230,25,25;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #ca1616;
  --ion-color-danger-tint: #e93030;

  --ion-color-dark: #231f1f;
  --ion-color-dark-rgb: 35,31,31;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1f1b1b;
  --ion-color-dark-tint: #393535;

  --ion-color-medium: #b6bac9;
  --ion-color-medium-rgb: 182,186,201;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #a0a4b1;
  --ion-color-medium-tint: #bdc1ce;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --ion-toolbar-background: var(--ion-color-primary, #3b4b5f);
  --ion-toolbar-color: var(--ion-color-primary-contrast,#ffffff) ;
}
